@import "../helper";

.footer{
  background: $outer-space;
}
.site-footer {
  max-width: 1320px;
  margin: 0 auto;
  text-align: center;
  padding: 25px 4vw;
  @media (min-width: 768px) {
    text-align: right;
    @include flexbox;
    @include flex-just(space-between);
    @include align-items(center);
    padding-top: 0;
    padding-bottom: 0;
    height: 112px;
  }

  .logo-wrap {
    @media (max-width: 768px) {
      margin: 0 0 10px;
    }
  }

  .footer-copyright {
    color: $white;
    @include font-fira-sans(14px, false, 300, 25px);
    letter-spacing: 0.01em;
  }
}
