@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="content-container">
    <div class="introduction">
        <div class="introduction--text">
            <p>
                Burswood Park has a long and glorious history, most famously known, between 1988 to 2013, for the Burswood
                Golf Course, its attractive manicured gardens and floral displays. It is now a significant parkland that
                surrounds Western Australia’s only six star resort, the Crown Perth Resort and, at present, the third
                largest stadium in Australia, Optus Stadium.
            </p>
            <p>
                Burswood Park has some spectacular views, attractions and facilities at its doorstep. Visitors can enjoy
                wonderful views of the Swan river and the Perth city skyline, walk towards and across the newly opened
                pedestrian bridge (Matagarup Bridge) and soak in the spectacular landscape architecture on offer.
            </p>
        </div>
        <div class="introduction--image">
            <img src="images/intro-leaf.png" alt="intro-leaf" class="img-responsive" height="380">
        </div>
    </div>
</section>

<section class="content-container">
    <div class="attractions">
        <div class="attractions--list">
            <h4 class="title">Attractions</h4>
            <ul>
                <li>
                    Swan Shell and Swan Fountain– soars above the surrounding parklands and a popular landmark for
                    weddings, concerts and outdoor events
                </li>
                <li>
                    Heritage Trail - discover Western Australia's history of European settlers through life-size bronze
                    sculptures.
                </li>
                <li>Citizen of the year podium to honour recipients of this prestigious award</li>
                <li>Prized granite sculptures by international artists.</li>
                <li>Manicured landscape gardens</li>
                <li>Well presented, public open spaces for year round use</li>
                <li>Uninterrupted views of the Swan river and Perth City skyline</li>
                <li>Migratory and resident bird life that inhabit the lake systems of the Burswood Park</li>
                <li>
                    Family friendly outdoor cinema - screenings nightly from December to April, fully licensed with a
                    variety of food, drinks and confectionery available.
                </li>
            </ul>
        </div>
        <div class="attractions--contact">
            <h4 class="title">Contact</h4>
            <h6 class="sub-title">All Enquiries</h6>
            <ul class="contact--details">
                <li class="phone">
                    <a href="tel:61893614475">61 8 9361 4475</a>
                </li>
                <li class="email">
                    <a href="mailto:reception@burswoodpark.wa.gov.au">reception@burswoodpark.wa.gov.au</a>
                </li>
                <li class="map">
                    <a href="#">View Map</a>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="content-container">
    <div class="section-map">
        <img src="images/location-map.svg" alt="contact map" class="img-responsive">
    </div>
</section>

