@import "mixin/flex";
@import "mixin/interpolate";
@import "mixin/mixin";

$white: #fff;
$dark-liver: #4c4c4c;
$dark-green: #177359;
$columbia-blue: #bedad0;
$celestial-blue: #4A94C7;
$outer-space: #464646;