/* Colours */
$white: #fff;
$dark-liver: #4c4c4c;
$dark-green: #177359;
$columbia-blue: #bedad0;
$celestial-blue: #4A94C7;
$outer-space: #464646;

/* Sass MQ Library */

/* http://sass-mq.github.io/sass-mq/ */
/* Breakpoints */


/* Breakpoints */
$mq-breakpoints: (
    mobile:  320px,
    mobilesm:  481px,
    mobilemd: 641px,
    tablet:  768px, // default: 740
    tabletmd:  992px,
    desktop: 1024px, // default: 980
    wide:    1200px, // default: 1300
    extrawide: 1400px
);

/* Displays breakpoints for dev purposes */
$mq-show-breakpoints: (mobile, mobilesm, mobilemd, tablet, tabletmd, desktop, wide);

/* primary font */
$primary-font: 'Fira Sans', sans-serif;


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset for button */
a {
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

*{ box-sizing: border-box; }
img{ max-width: 100%; }


/* body */
body {
    text-rendering: geometricPrecision;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* grid */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}

/* image */
img {
  vertical-align: middle;
}
.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}
